html, body{
  background-color: #f7f7f7;
  font-family: arial;
}

#app{
  width: 480px;
  background-color: #d9dde2;
}

button{
  margin-left: 20px;
}

button:hover{
  cursor: pointer;

}

#monthDisp{
  margin-left: 10px;
  padding-top: 8px;
  width: 230px;
  display: inline-block;
}
