html, body{
  background-color: #f7f7f7;
  font-family: arial;
}

#app{
  width: 480px;
  background-color: #d9dde2;
  margin: 0 auto;
}

button{
  margin-left: 20px;
}

button:hover{
  cursor: pointer;

}

#monthDisp{
  margin-left: 10px;
  padding-top: 8px;
  width: 230px;
  display: inline-block;
}

#calHead{
  margin-bottom: 10px;
}



.tile{
  width: 66px;
  height: 66px;
  border: 1px solid black;
  display: inline-block;
  margin-top: -3px;
}

.nameTile{
  text-align: center;
  padding-top: 18px;
  height: 48px;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 4px;
}
